body {
	overflow-x: hidden;
}

#video {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	top: -20vh;
}

h1 {
	position: absolute;
	top: 50vh;
	left: 20vw;
	background-color: white;
	text-decoration: bold;
	font-size: 4rem;
}

#horizontal {
	position: relative;
	display: inline-block;
	left: 0px;
}

body {
	overflow-x: hidden;
}

.slideanimate {
	width: 100%;
	visibility: hidden;
}

.slide {
	animation-name: slide;
	animation-duration: 1s;
	visibility: visible;
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}